<div class="pc-file">
  <div class="row">
    <div class="col-md-4 col-5">
      {{ content.field_file }}
    </div>
    <div class="col-md-8 col-7">
      <h3>{{ label }}</h3>
      <p>{{ content.body }}</p>
    </div>
  </div>
</div>
<hr>