<div class="pc-file">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      {{ content.field_file }}
    </div>
    <div class="col-md-8 col-xs-12">
      <h2>{{ label }}</h2>
      <p>{{ content.body }}</p>
    </div>
  </div>
</div>
<hr>